body {
  font-family: sans-serif;
  color: #333333; }

header {
    height: 55px; }
    header h1, header nav {
      display: inline-block;
      margin: 0;
      padding: 10px;
      line-height: 1.2; }
    header h1 {
      font-size: 18px; }
    header nav ul {
      list-style-type: none; }
      header nav ul li {
        display: inline;
        padding-left: 20px; }
    header #fork_me {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: -30px;
      right: -100px;
      transform-origin: top left;
      padding: 10px 40px;
      z-index: 9999;
      font-size: 18px;
      font-family: sans-serif;
      text-decoration: none;
      box-shadow: 0 2px 10px lightgray;
      text-shadow: -1px -1px 0 darkgreen;
      background: limegreen;
      color: white; }

a {
  text-decoration: none;
  color: darkred; }
  a:visited {
    color: firebrick; }
  a:hover {
    text-decoration: underline; }

#sidebar {
  float:            right;
  padding-left:     4px;
  padding-bottom:   24px;
  margin-left:      12px;
  width:            180px;
  border:           1px solid #bbb;
  background-color: #eee;
  font-size:        12px; }
  #sidebar h1 {
    display: none; }
  #sidebar h2 {
    font-size:   16px;
    font-weight: normal; }
  #sidebar ul.subscriptions {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }

h2.seperator {
  border-bottom: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
  padding-top: 3px;
  padding-bottom: 3px; }

hr.seperator {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px; }

.h-entry {
  padding: 0px 5px 5px 5px; }
  .h-entry .e-content,
  .h-entry .p-summary {
    font-size: 14px;
    margin-top: 14px; }
    .h-entry .e-content h1,
    .h-entry .e-content h2,
    .h-entry .e-content h3,
    .h-entry .e-content h4,
    .h-entry .e-content h5,
    .h-entry .e-content h6,
    .h-entry .p-summary h1,
    .h-entry .p-summary h2,
    .h-entry .p-summary h3,
    .h-entry .p-summary h4,
    .h-entry .p-summary h5,
    .h-entry .p-summary h6 {
      font-size: 100%; }
  .h-entry .p-name {
    margin-top: 0;
    margin-bottom: 0; }
  .h-entry .p-author {
    margin-bottom: 5px;
    font-size: 12px; }
  .h-entry footer {
    font-size: 12px;
    color: grey; }

